body {
    background-color: rgb(182, 135, 226);
}

header > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 3em;
    color: orange;
    text-shadow: 3.5px 3.5px rgb(64, 0, 132);
}

main {
    height: 35em;
    width: 65em;
    background-color: white;
    display: inline-block;
}

article {
    position: absolute;
    background-color: rgb(47, 0, 87);
    height: 35em;
    width: 25em;
    display: inline-block;
}

article > h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer > span {
    padding: 0em 5em 0em 5em;
    display: inline-block;
}

p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

li {
    padding: 1em 1em 1em 0em;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
}

button {
    width: 5em;
    height: 3em;
    text-decoration: none;
    background-color: rgb(255, 102, 0);
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 0.25em 0.25em 0.25em rgb(0, 0, 0);
}

button:hover {
    width: 5.5em;
    height: 3.33em;
    text-decoration: none;
    background-color: rgb(255, 102, 0);
    color: white;
    font-weight: bolder;
    border: none;
    box-shadow: 0.25em 0.25em 0.5em rgb(0, 0, 0);
}
